body {
    background: #58ee58;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    position: relative;
    width: 380px;
    height: 400px;
    background: #2c2c2c;
    padding: 47px;
    padding-bottom: 57px;
    color: #ffff;
    border-radius: 17px;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1 {
    color: #58ee58;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 13px;
    margin: 20px 0 0 0;
    margin-bottom: 40px;
    border-radius: 500px;
    font-weight: 600;
    animation: 1.6;
}




input {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 15px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: #3c3c3c;
    color: #fff;

}

div i {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    height: 5%;
    color: #f0e3e3;
}

.in1 input[type=text] {
    margin-bottom: px;
}

.in2 input[type=password] {
    margin-bottom: 8px;
}



button {
    background-color: #58ee58;
    margin-top: 50px;
    border-radius: 30px;
    border: none;
    width: 100px;
    height: 30px;

}

button :active {
    opacity: 40%;
}